@import "~aym-ui/src-mp/styles/base/fn.scss";
$textBtnColor: #fff; // 按钮文字颜色
$btnPrimaryBg: #619bff; // 按钮底色
$btnPrimaryActiveBg: #619bff; // 按钮底色
$btnFullBg: #619bff; // 按钮底色
$btnFullActiveBg: #619bff; // 按钮底色
$btnFullColor: #fff;
@import "~aym-ui/src-mp/styles/index.scss";
